{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Class Texting{% endblock %}</h1>
<!-- <link rel="stylesheet" href="/static/style.css"> -->
<!-- <script src="/static/index.js"></script> -->
{% endblock %}

{% block content %}
<h1>Telegram Messaging System for UCSC Classes</h1>

<h3>Recieve Telegram messages for classes of Fall 2019!</h3>

<h4>This project is not affiliated with or endorsed by the University of California, Santa Cruz. This is simply an unofficial personal project by a UCSC student.</h4>

<form method="POST" action="">
  <div class="search-option">
    Your name:
    <input type="text" name="name" />
  </div>

  <div class="search-option">
    Your telegram number in format: xxx-xxx-xxxx:
    <input type="text" name="phone" />
  </div>

  <div class="search-option">
    Class name (ex: STAT 5 - 01)
    <input type="text" name="class" />
  </div>

  <div id="search">
    <input type="submit" name="search" value="Go!">
  </div>
</form>

{% endblock %}